@font-face {
    font-family: 'Altone';
    src: url('../fonts/Altone\ Trial-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'LEMONMILK-BOLD';
    src: url('../fonts/LEMONMILK-Bold.otf') format('opentype');
}

body {
    overflow-x: hidden;
}


html {
    overflow-x: hidden;
}

* {
    font-family: 'Altone', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    padding: 30px;
    width: 100%;
}

nav {
    display: flex;
    background-color: #bebebea6;
    border-radius: 20px;
    align-items: center;
    justify-content: space-around;
    height: 120px;
    backdrop-filter: blur(10px);
    width: 100%;
}


nav a {
    text-decoration: none;
    color: #000;
    padding: 20px;
    border-radius: 20px;
    
}

nav a:hover {
    background-color: #000;
    color: #FFF;

}

.nav-active {
    background-color: #000;
    color: #FFF;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

.main-bg {
    background-image: url(../Imagens/ImagemBackground.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

.orbita img {
    position: absolute;
    z-index: 1;
    margin-left: 800px;
    bottom: 200PX;
}


header, main {
    position: relative;
    z-index: 2;
}

section {
    min-height: 100vh;
    width: 100vw;
}

#home {
    position: relative;
    z-index: 2;
}

main ul {
    list-style: none;
}

main ul li {
    font-size: 50px;
    font-family: 'LEMONMILK-BOLD';
}

main {
    margin: 60px;
}


.sobre_nos_bg {
    background-image: url(../Imagens/GradienteBackground.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #2e2f2fdb;
}

.sobre_nos_text {
    flex: 1;
    margin-left: 90px;
}

.sobre_nos_box {
    margin-left: 60px;
}

.sobre_nos_content {
    display: flex;
    padding-top: 200px;
}

.sobre_nos_image {
    width: 275px;
    height: 438px;
    background-color: #D9D9D9;
    border-radius: 20px;
}

.sobre_nos_title {
    font-size: 50px;
    text-transform: uppercase;
    font-family: 'LEMONMILK-BOLD';
}

.sobre_nos_desc {
    font-size: 20px;
    width: 528px;
    text-align: justify;
    margin-top: 30px;
}

.integrante_text {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 60px;
}

.integrante_box {
    margin-right: 120px;
}

.integrante_content {
    display: flex;
    margin-top: 95px;
}

.integrante_image {
    width: 275px;
    height: 303px;
    background-color: #D9D9D9;
    border-radius: 20px;
}

.integrante_title {
    font-size: 50px;
    text-transform: uppercase;
    font-family: 'LEMONMILK-BOLD';
}

.integrante_desc {
    font-size: 20px;
    width: 528px;
    text-align: justify;
    margin-top: 30px;
}
